In [8]:
# String formatting in Dictionary

person = {"name" : "Shafin", "age" : 27}
print(f"My name is {person["name"]} and I'm {person["age"]} years old.")

# Keys should be in single quotation marks, double qoutes will give an error

SyntaxError: invalid syntax (<ipython-input-8-97ab86efeb91>, line 2)

In [16]:
# using single quotation marks
person = {"name" : "Shafin", "age" : 27}
print(f"My name is {person['name']} and I'm {person['age']} years old.")

My name is Shafin and I'm 27 years old.

In [17]:
# using kwargs in .format() method
person = {"name" : "Shafin", "age" : 27}
print("My name is {name} and I'm {age} years old.".format(**person))

My name is Shafin and I'm 27 years old.

In [18]:
# String formatting in list

lst = ["Shafin", 27]
print(f"My name is {lst[0]} and I'm {lst[1]} years old.")

My name is Shafin and I'm 27 years old.

In [12]:
# using .format() method
lst = ["Shafin", 27]
print("My name is {} and I'm {} years old.".format(lst[0], lst[1]))

My name is Shafin and I'm 27 years old.

In [13]:
# String formatting in class

class Person():
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("Shafin", 27)
print(f"My name is {p1.name} and I'm {p1.age} years old.")

My name is Shafin and I'm 27 years old.

In [22]:
# adding zeros before numbers

for i in range(1,11):
    print(f"The value is {i:02}")

The value is 01
The value is 02
The value is 03
The value is 04
The value is 05
The value is 06
The value is 07
The value is 08
The value is 09
The value is 10

In [24]:
for i in range(1,11):
    print(f"The value is {i:03}")

The value is 001
The value is 002
The value is 003
The value is 004
The value is 005
The value is 006
The value is 007
The value is 008
The value is 009
The value is 010

In [25]:
for i in range(91,101):
    print(f"The value is {i:03}")

The value is 091
The value is 092
The value is 093
The value is 094
The value is 095
The value is 096
The value is 097
The value is 098
The value is 099
The value is 100

In [26]:
# Reducing decimal points

pi = 3.14159265
print(f"The value is {pi:0.2f}")

The value is 3.14

In [1]:
# comma separated numerical value

print(f"1 MB is equal to {1000 ** 2:,} bytes")

1 MB is equal to 1,000,000 bytes

In [3]:
# adding decimal points to comma separated numerical value
print(f"1 MB is equal to {1000 ** 2:,.02f} bytes")

1 MB is equal to 1,000,000.00 bytes