## Map

In [8]:
# Map function takes a function and a sequence as an input--->> map(a function, sequence)
# That means it uses that function on that particular sequence
# Map is transformer function, it takes a function to completely transform a sequence

def double(value):
    return 2*value

def double_value(a_list):
    new_list = map(double, a_list)
    return list(new_list)

lst = [2,3,4]
new = double_value(lst)
print(new)

[4, 6, 8]

In [11]:
def d_value(lst):
    new_lst = map(lambda x : x*2, lst)
    return list(new_lst)

lst = [2,3,4]
new = d_value(lst)
print(new)

[4, 6, 8]

In [14]:
abbrevs = ["usa", "esp", "chn", "jpn", "mex", "can", "rus", "rsa", "jam"]

abbrevs_upper = map(lambda x : x.upper(), abbrevs)
print(list(abbrevs_upper))

['USA', 'ESP', 'CHN', 'JPN', 'MEX', 'CAN', 'RUS', 'RSA', 'JAM']

## Filter

In [18]:
# Filter function takes a condition and a sequence as an input--->> map(a function, sequence)
# That means it uses that condition on that particular sequence to filter it.
# Filter function takes binary decisions, it keeps the value that matches the condition has been given

def even(lst):
    new_lst = []
    for num in lst:
        if num % 2 == 0:
            new_lst.append(num)
    return list(new_lst)

a_lst = [3, 4, 6, 7, 0, 1]
new = even(a_lst)
new

[4, 6, 0]

In [26]:
a_lst = [3, 4, 6, 7, 0, 1]

filterd_lst = list(filter(lambda x : x % 2==0, a_lst))
filterd_lst

[4, 6, 0]

In [32]:
lst_check = ['plums', 'watermelon', 'kiwi', 'strawberries', 'blueberries', 'peaches', 'apples', 'mangos', 'papaya']

filter_testing = list(filter(lambda x : "w" in x, lst_check))
print(filter_testing)

['watermelon', 'kiwi', 'strawberries']

## Zip

In [35]:
# Python zip() method takes iterable or containers and returns a single iterator object, ---
# --- having mapped values from all the containers. 
# It is used to map the similar index of multiple containers so that they can be used just using a single entity. 

name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]

student_info = list(zip(name,roll_no))
student_info

[('Manjeet', 4), ('Nikhil', 1), ('Shambhavi', 3), ('Astha', 2)]

In [36]:
# Suppose we want to add the elements of two lists
l1 = [1,2,3]
l2 = [2,4,6]
l3 = []

for i in range(len(l1)):
    l3.append(l1[i] + l2[i])
l3

[3, 6, 9]

In [38]:
l1 = [1,2,3]
l2 = [2,4,6]
l3 = []
for x1,x2 in zip(l1,l2):
    l3.append(x1+x2)
l3

[3, 6, 9]

In [37]:
l1 = [1,2,3]
l2 = [2,4,6]
l3 = [x1+x2 for (x1,x2) in zip(l1,l2)]
l3

[3, 6, 9]

In [39]:
# initializing list of players.
players = ["Sachin", "Sehwag", "Gambhir", "Dravid", "Raina"]
 
# initializing their scores
scores = [100, 15, 17, 28, 43]
 
# printing players and scores.
for pl, sc in zip(players, scores):
    print(f"{pl} scored {sc} runs")

Sachin scored 100 runs
Sehwag scored 15 runs
Gambhir scored 17 runs
Dravid scored 28 runs
Raina scored 43 runs