In [1]:
lst= [4,6,2,7,8,4,6,9]

In [2]:
# I can sort this list in 2 ways
# 1. using sorted() function
# 2. Using .sort() method

# 1. sorted() function will create a new list and the original list will be the same
sorted(lst)

[2, 4, 4, 6, 6, 7, 8, 9]

In [3]:
# Now, we'll check our original list, it'll not change due to sorted function
lst

[4, 6, 2, 7, 8, 4, 6, 9]

In [4]:
# 2. Using .sort() method will change the original list
lst.sort()

In [5]:
lst

[2, 4, 4, 6, 6, 7, 8, 9]

In [15]:
# sorting in Ascending/Descending order

lst= [4,6,2,7,8,4,6,9]

In [17]:
# In python sort is always in ascending order
# For sorting in dscending order we'll have to set reverse = True

Reversed_lst = sorted(lst, reverse = True)
print("New_list:", Reversed_lst,"\n")
print("Original_list:", lst)

New_list: [9, 8, 7, 6, 6, 4, 4, 2]

Original_list: [4, 6, 2, 7, 8, 4, 6, 9]

In [12]:
lst.sort(reverse = True)
lst

[9, 8, 7, 6, 6, 4, 4, 2]

In [18]:
# sorting tuples
# we know that tuples are immutable
# So, we can't use sort method on tuple
# but we can use sorted() function

tup = (4,6,2,7,8,4,6,9)

In [19]:
# So, when we use sort method on tuple, it gives an error
tup.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [21]:
# Now we'll use sorted() function
# It'll give us a sorted list

s_tup = sorted(tup)
print(s_tup)

[2, 4, 4, 6, 6, 7, 8, 9]

In [22]:
# sorting Dictionaries
dic = {"shafin" : 27, "Anik" : 28, "Nahin" : 20}
dic

{'shafin': 27, 'Anik': 28, 'Nahin': 20}

In [24]:
# Now, if we use sorted function, it;ll sort the dictionary keys
sorted(dic)

['Anik', 'Nahin', 'shafin']

In [25]:
# Key parameter
lst = [-9, -8, -7, -6, 6, 4, 4, 2]
sorted(lst)

[-9, -8, -7, -6, 2, 4, 4, 6]

In [26]:
sorted(lst, key = abs)

[2, 4, 4, -6, 6, -7, -8, -9]

In [30]:
# Example:

class Employee:
    def __init__(self, name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
        
    def __repr__(self):
        return f"{self.name} age {self.age} has a salary of {self.salary}"
    
    
e1 = Employee("Shafin", 27, 40000) 
e2 = Employee("Anik", 28, 35000) 
e3 = Employee("Nahin", 20, 37500)

In [46]:
# now if we use the sorted function it'll give us an error
# because we didn't fix the sorting key

epmloyee = [e1,e2,e3]
sorted(employee)

NameError: name 'employee' is not defined

In [37]:
# We can fix this by creating a sorting function
# Sorting by creating a function
# our function will sort by name

def srt(emp):
    return emp.name

epmloyee = [e1,e2,e3]
sorted(epmloyee, key = srt)

[Anik age 28 has a salary of 35000,
 Nahin age 20 has a salary of 37500,
 Shafin age 27 has a salary of 40000]

In [40]:
# Sorting by creating lambda function

epmloyee = [e1,e2,e3]
sorted(epmloyee, key = lambda e : e.name)

[Anik age 28 has a salary of 35000,
 Nahin age 20 has a salary of 37500,
 Shafin age 27 has a salary of 40000]

In [42]:
# sorting by highest salary

epmloyee = [e1,e2,e3]
sorted(epmloyee, key = lambda e : e.salary, reverse = True)

[Shafin age 27 has a salary of 40000,
 Nahin age 20 has a salary of 37500,
 Anik age 28 has a salary of 35000]

In [45]:
# Sorting by importing attrgetter

from operator import attrgetter
epmloyee = [e1,e2,e3]

# sorting by age
sorted(epmloyee, key = attrgetter("age"))

[Nahin age 20 has a salary of 37500,
 Shafin age 27 has a salary of 40000,
 Anik age 28 has a salary of 35000]