## List Comprehensions

In [ ]:
# temps = [223, 224,334,556]

# new_temp=[]

# for temp in temps:
#     new_temp.append(temp/10)
# print(new_temp)

In [ ]:
temps = [223, 224,334,556]

new_temp = [temp/10 for temp in temps]
print(new_temp)

In [ ]:
### list comprehension with 'if' conditionals

# suppose we have to store data from a list to a new list that only allows above -100 and below 100 after dividimg by 10

temps = [223, 224, 334, 556,-9999,8888]

new_temp=[]

for temp in temps:
    if -100 < temp/10 < 100:
        new_temp.append(temp/10)
print(new_temp)

In [ ]:
temps = [223, 224, 334, 556,-9999,8888]

new_temp=[temp/10 for temp in temps  if -100 < temp/10 < 100]
print(new_temp)

In [ ]:
### list comprehension with 'if' and "else" conditionals
### then you have to put the loop after conditionals

# suppose we have to store data from a list to a new list that only allows above -100 and below 100 after dividing by 10
# if the data is  above -100 and below 100 it will append a string "NA"
temps = [223, 224, 334, 556,-9999,8888]

new_temp=[]

for temp in temps:
    if -100 < temp/10 < 100:
        new_temp.append(temp/10)
    else:
        new_temp.append("NA")
print(new_temp)

In [ ]:
### REMINDER: you have to put the loop after 'if' and "else" conditionals

new_temp=[temp/10 if -100 < temp/10 < 100 else "NA" for temp in temps]
print(new_temp)

In [5]:
# def only_int(lst):
#     integers = []
#     for data in lst:
#         if type(data) is int:
#             integers.append(data)
#     return integers
            
# a = [22, 22, 33, 55, 'NA', 'NA']
# print(only_int(a))

In [8]:
def only_int(lst):
    integers = [data for data in lst if type(data) is int]
    return integers
a = [22, 22, 33, 55, 'NA', 'NA']
print(only_int(a))

[22, 22, 33, 55]

In [9]:
def greater_thn_zero(lst):
    numbers = []
    for data in lst:
        if data > 0:
            numbers.append(data)
    return numbers
            
a = [22, 22, 33, 55, -77, 0, -99]
print(greater_thn_zero(a))

[22, 22, 33, 55]

In [10]:
def greater_thn_zero(lst):
    numbers = [data for data in lst if data > 0]
    return numbers
            
a = [22, 22, 33, 55, -77, 0, -99]
print(greater_thn_zero(a))

[22, 22, 33, 55]

In [12]:
def only_int_zero(lst):
    new_lst = []
    for data in lst:
        if type(data) is int:
            new_lst.append(data)
        else:
            new_lst.append(0)
    return new_lst
            
a = [22, 22, 33, 55, 'NA', 'NA']
print(only_int_zero(a))

[22, 22, 33, 55, 0, 0]

In [13]:
def only_int_zero(lst):
    new_lst = [data if type(data) is int else 0 for data in lst]
    return new_lst
            
a = [22, 22, 33, 55, 'NA', 'NA']
print(only_int_zero(a))

[22, 22, 33, 55, 0, 0]

In [16]:
def str_to_decimal(lst):
    new_lst = [float(data) for data in lst if type(data) is str ]
    return sum(new_lst)

a = ['2.2', '2.2', '3.3', '5.5']
print(str_to_decimal(a))

13.2

## Functions

In [29]:
# # error
# def area(a=4, b):
#     return a*b

# print(area(4,4))

In [28]:
## a,b are keyword parameters
def area(a=4, b=3):
    return a*b

print(area(4,4))

16

In [43]:
## " *args " means -----> non-keyword arguments-----> we have to put "*" before "args"
# it'll return a tuple
def mean(*args):
    return args

print(mean(4,5,6,7,8,9,3))

(4, 5, 6, 7, 8, 9, 3)

In [49]:
def avg(*args):
    return sum(args) / len(args)
print(avg(10,20,30,40))

25.0

In [44]:
## " **kwargs " means -----> keyword argument-----> we have to put "**" before "kwargs"
# this example will show an error, because we didn't use any keywords

# def mean(**kwargs):
#     return kwargs

# print(mean(4,5,6,7,8,9,3))

In [42]:
# it'll return a dictionary
def mean(**kwargs):
    return kwargs

print(mean(a=4, b=5, c=6, d=7, e=8, f= 9, g= 3))

{'a': 4, 'b': 5, 'c': 6, 'd': 7, 'e': 8, 'f': 9, 'g': 3}

In [53]:
# As **kwargs returns a dictionary, we have to work with ".keys()" and ".values" method
def find_avg(**kwargs):
    return sum(kwargs.values()) / len(kwargs) 
    
print(find_avg(a=4,b=5))

4.5

In [54]:
def str_con(a,b):
    concat = a + b
    return concat
print(str_con("sha","fin"))

shafin

In [59]:
def upper_str_lst(*args):
    lst =[]
    for i in args:
        lst.append(i.upper())
    return sorted(lst)
print(upper_str_lst("snow","glacier","iceberg"))

['GLACIER', 'ICEBERG', 'SNOW']