# **Random**

In [1]:
import random

## random.random()

***The random() method returns a random floating number between 0 and 1.***

In [32]:
print(random.random())

0.05057294182209637

## random.uniform(a = A number specifying the lowest possible outcome, b = A number specifying the highest possible outcome)

***The uniform() method returns a random floating number between the two specified numbers (both included).***

In [33]:
print(random.uniform(20, 60))

23.70973621368767

## random.seed(a, version)

***The seed() method is used to initialize the random number generator.***

In [4]:
random.seed(10)
print(random.random())

random.seed(10)
print(random.random())

0.5714025946899135
0.5714025946899135

## random.randrange(start, stop, step)

***The randrange() method Return a randomly selected element from range(start, stop, step). This is equivalent to choice(range(start, stop, step)), but doesnâ€™t actually build a range object.***

In [35]:
## Return a number between 3 and 9:
print(random.randrange(3,9))

3

## random.randint(start, stop)

***The randint() method returns an integer number selected element from the specified range. This method is an alias for randrange(start, stop+1).***

In [24]:
print(random.randint(3, 9))

5

## random.choice(sequence)

***The choice() method returns a randomly selected element from the specified sequence. The sequence can be a string, a range, a list, a tuple or any other kind of sequence.***

In [9]:
mylist = ["apple", "banana", "cherry"]
print(random.choice(mylist))

apple

In [13]:
print(random.choice(range(3,9)))

5

In [15]:
x = "WELCOME"
print(random.choice(x))

E

## random.choices(sequence, weights=None, cum_weights=None, k= 1= (Optional)An integer defining the length of the returned list)

***The choices() method returns a list with the randomly selected element from the specified sequence. You can weigh the possibility of each result with the weights parameter or the cum_weights parameter. The sequence can be a string, a range, a list, a tuple or any other kind of sequence.***

In [22]:
mylist = ["apple", "banana", "cherry"]
newlist = random.choices(mylist)
print(mylist)
print(len(mylist))
print(newlist)
print(len(newlist))

['apple', 'banana', 'cherry']
3
['banana']
1

In [21]:
mylist = ["apple", "banana", "cherry"]
newlist = random.choices(mylist, weights = [7, 5, 3], k = 15)
print(mylist)
print(len(mylist))
print(newlist)
print(len(newlist))

['apple', 'banana', 'cherry']
3
['apple', 'apple', 'banana', 'apple', 'cherry', 'banana', 'apple', 'banana', 'cherry', 'banana', 'banana', 'apple', 'banana', 'apple', 'apple']
15

## random.shuffle(sequence)

***The shuffle() method takes a sequence, like a list, and reorganize the order of the items. This method changes the original list, it does not return a new list.***

In [28]:
mylist = ["apple", "banana", "cherry"]
random.shuffle(mylist)
print(mylist)

['cherry', 'banana', 'apple']

## random.sample(sequence, k=The size of the returned list)

***The sample() method returns a list with a randomly selection of a specified number of items from a sequence. This method does not change the original sequence.***

In [31]:
mylist = ["apple", "banana", "cherry"]
print(random.sample(mylist, k=2))

['banana', 'apple']

# **Python{*} or Asterisk Operator**

**Unpacking a function using positional argument.**

This method is very useful while printing your data in a raw format (without any comma and brackets ). Many of the programmer try to remove comma and bracket by using a convolution of functions, Hence this simple prefix asterisk can solve your problem in unpacking them.

In [1]:
arr = ['sunday', 'monday', 'tuesday', 'wednesday']

# using asterisk
print (*arr)

sunday monday tuesday wednesday

In [3]:
# using asterisk
def addition(*args):
    return sum(args)

print(addition(5, 10, 20, 6))

41

In [5]:
# using asterisk
def food(**kwargs):
    for items in kwargs:
        print(f"{kwargs[items]} is a {items}")

food(fruit = 'cherry', vegetable = 'potato', boy = 'srikrishna')

cherry is a fruit
potato is a vegetable
srikrishna is a boy

In [ ]:
enumerate, reversed

# **hex(number:int)**

***The hex() function converts the specified number into a hexadecimal value. The returned string always starts with the prefix 0x.***

In [2]:
## Convert 255 into hexadecimal value:
x = hex(255)
print(x)

0xff

In [14]:
## 4951 ->> base 10
1 * 10**0 + 5 * 10**1 + 9 * 10**2 + 4 * 10**3

4951

In [15]:
## 0x1357 ->> base 16
7 * 16**0 + 5 * 16**1 + 3*16**2 + 1*16**3

4951

# **enumerate(iterable, start=A Number. Defining the start number of the enumerate object. Default 0)**

***The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object. The enumerate() function adds a counter as the key of the enumerate object.***

In [4]:
l1 = ["eat", "sleep", "repeat"]
s1 = "geek"

obj1 = enumerate(l1)
print(obj1)
obj2 = enumerate(s1)
print(obj2)
print(type(obj1))

<enumerate object at 0x106291000>
<enumerate object at 0x106292440>
<class 'enumerate'>

In [5]:
## This enumerated object can then be used directly for loops or converted into a list of tuples using the list() function.
print(list(obj1))
print(list(obj2))

[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(0, 'g'), (1, 'e'), (2, 'e'), (3, 'k')]

In [6]:
## Using Enumerate object in loops:
l1 = ["eat", "sleep", "repeat"]
  
# printing the tuples in object directly
for ele in enumerate(l1):
    print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')

In [8]:
# changing index and printing separately
for count, ele in enumerate(l1, start= 100):
    print (count, ele)

100 eat
101 sleep
102 repeat

# **reversed(sequence)**

***The reversed() function returns a reversed iterator object.***

In [9]:
alph = ["a", "b", "c", "d"]
ralph = reversed(alph)
for x in ralph:
    print(x)

d
c
b
a

In [11]:
# For tuple
seqTuple = ('g', 'e', 'e', 'k', 's')
print(list(reversed(seqTuple)))

# For range
seqRange = range(1, 5)
print(list(reversed(seqRange)))

## reversed string
name = "Shafin Mahmud Jalal"
print(list(reversed(name)))

['s', 'k', 'e', 'e', 'g']
[4, 3, 2, 1]
['l', 'a', 'l', 'a', 'J', ' ', 'd', 'u', 'm', 'h', 'a', 'M', ' ', 'n', 'i', 'f', 'a', 'h', 'S']